.form-group .form-control:not(textarea){
    border-width: 2px !important;
    border-radius: 5px !important;
    border: 1px solid var(--exl-foreground);
    outline: none !important;
    width: 100%;
    font-size: 1.1em !important;
    height: 48px !important;
    color: var(--exl-foreground) !important;
}

.form-group .form-control:focus {
    border-width: 2px;
}

.form-group .form-control:disabled {
    background-color: var(--exl-disabled)!important;
}

.form-group .form-control.field::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: var(--exl-foreground);
    font-weight: bold;
}

.form-group .form-control.field:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--exl-foreground);
    font-weight: bold;
    opacity: 1;
}

.form-group .form-control.field::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--exl-foreground);
    font-weight: bold;
    opacity: 1;
}

.form-group .form-control.field:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--exl-foreground);
    font-weight: bold;
}

.form-group .form-control.field::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--exl-foreground);
    font-weight: bold;
}

.form-group .form-control.field::placeholder {
    /* Most modern browsers support this now. */
    color: var(--exl-foreground);
    font-weight: bold;
}

.form-group textarea{
    background-color: transparent !important;
    border-width: 2px !important;
    border-radius: 5px !important;
    border: 1px solid var(--exl-foreground);
    outline: none !important;
    width: 100%;
    font-size: 1.1em !important;
    color: var(--exl-foreground) !important;
}