:root{
    --neutral-gray-900: #111317;

    --black-opacity-800: #0b0c0fcc;

    --gray-100:#EBECED;

    --red-900:#621010;

    /*clientarea*/
    --exl-clientarea-resent-email-border: #621010;

    --exl-myaccount-email-confirmation-bg: #22EBA31A;
    --exl-myaccount-email-not-confirmation-bg: #f529291A;
    --exl-myaccount-email-confirmation-text:#22EBA3;

    /*theme colors*/
    --exl-accent: #C42121;
    --exl-accent-darker: #931919;
    --exl-primary: #1f1f1f;
    --exl-primary-lighter: #323232;
    --exl-primary-darker:#0d0d0d;
    --exl-bg-darker:#0B0C0F;
    --exl-success: #00A638;
    --exl-disabled: #CCC;
    --exl-black: #010206;

    /*text color to be used on default background*/
    --exl-foreground: white;
    /*text color to be used on primary background*/
    --exl-foreground-primary: white;
    /*text color to be used on accent background*/
    --exl-foreground-accent: white;

    /*cards*/
    --exl-card-background-lighter: #d2d2d2;
    --exl-card-background: #c2c2c2;
    --exl-topbar-background: #292929;
    --exl-card-background-neutral: #E0E1E2;

    /*tabs*/
    --exl-tab-button: #a8a8a8;
    --exl-tab-color: #626262;

    /*backgrounds*/
    --exl-backdrop: rgba(0, 0, 0, 0.5);

    /*checkout*/
    --exl-checkout-primary: #C42121;
    --exl-checkout-accent: #EC4046;
    --exl-checkout-dark: #0D0D0D;
    --exl-checkout-darkRed: #2C0606;
    --exl-checkout-gray: #212630;
    --exl-checkout-bgField: #0F0F0F;

    /*footer*/
    --exl-footer-text: #4E4E4E;
    --exl-footer-accent: #EC4046;
    --exl-footer-social-link: #878D97;

    /*form card*/
    --exl-card-text: #B3B3B3;
    --exl-input-bg: #191D24;

    /*tutorial*/
    --exl-card-step-bg: #111317;

    --exl-workwithus-title-success: #1BBC82;
    --exl-workwithus-file-bg: #DDD;
    --exl-workwithus-description-status: #C6C8CB;
    --exl-workwith-us-label: #737373;
    
    --exl-white-opacity-70: #FFFFFFB2;

    /**affiliates */
    --exl-card-background-info: #E4E4E7;
    --exl-font-title-status: #F52929;
    --exl-black-color: #000;
    --exl-font-tbody-table: #1A1A1A;
    --exl-affiliates-dark: #212529;
    --exl-affiliates-input-bg: #F5F5F5;
    --exl-affiliates-input-bg-disabled: #efefef80;
    --exl-gray-blue-700: #161A22;
    --exl-gray-blue-800: #101828;
    --exl-input-bg-100: #F5F5F6;

    
    /*my account*/
    --neutral-gray-200: #E0E1E2;
    --neutral-gray-300: #C6C8CB;
    --neutral-gray-400: #878D97;
    --neutral-gray-500: #555C68;
    --neutral-gray-600: #313741;
    --neutral-gray-700: #242933;
    --neutral-gray-800: #212630;
    --exl-green: #148D62;
    --exl-green-success: #0A4631;
    --card-opacity: rgba(198, 200, 203, 0.3);

    --neutral-red-700: #621010;

    --exl-red-400: ##F97F7F;
    /*colors*/
    --exl-white: #FFFFFF;

    --exl-primary-red-100: #FEEAEA;
    --exl-primary-red-200: #FDD4D4;
    --exl-primary-red-300: #FBA9A9;
    --exl-primary-red-400: #F97F7F;
    --exl-primary-red-500: #EC4046;
    --exl-primary-red-600: #7F2D34;
    --exl-primary-red-700: #C42121;
    --exl-primary-red-800: #931919;
    --exl-primary-red-900: #621010;
    --exl-primary-red-1000: #2C0606;

    --exl-neutral-gray-50: #F5F5F6;
    --exl-neutral-gray-100: #EBECED;
    --exl-neutral-gray-200: #E0E1E2;
    --exl-neutral-gray-300: #C6C8CB;
    --exl-neutral-gray-400: #878D97;
    --exl-neutral-gray-500: #555C68;
    --exl-neutral-gray-600: #313741;
    --exl-neutral-gray-700: #242933;
    --exl-neutral-gray-800: #212630;
    --exl-neutral-gray-900: #111317;
    --exl-neutral-gray-1000: #0B0C0F;

    --exl-neutral-blue-100: #DAE2FA;
    --exl-neutral-blue-200: #B6C5F6;
    --exl-neutral-blue-300: #91A7F1;
    --exl-neutral-blue-400: #6D8AED;
    --exl-neutral-blue-500: #486DE8;
    --exl-neutral-blue-600: #3A57BA;
    --exl-neutral-blue-700: #2B418B;
    --exl-neutral-blue-800: #1D2C5D;
    --exl-neutral-blue-900: #0E162E;

    --exl-sucess-green-100: #D3FBED;
    --exl-sucess-green-200: #BDF9E3;
    --exl-sucess-green-300: #4EEFB5;
    --exl-sucess-green-400: #22EBA3;
    --exl-sucess-green-500: #1BBC82;
    --exl-sucess-green-600: #148D62;
    --exl-sucess-green-700: #0E5E41;
    --exl-sucess-green-800: #0A4631;
    --exl-sucess-green-900: #072F21;

    --exl-warning-yellow-100: #FDF0D4;
    --exl-warning-yellow-200: #FCE0A9;
    --exl-warning-yellow-300: #FAD17E;
    --exl-warning-yellow-400: #F9C153;
    --exl-warning-yellow-500: #F7B228;
    --exl-warning-yellow-600: #C68E20;
    --exl-warning-yellow-700: #946B18;
    --exl-warning-yellow-800: #634710;
    --exl-warning-yellow-900: #312408;

    /*upgrade*/
    --card-upgrade: #EFEDED;
    --btn-action-text: #1A1A1A;
    --exl-bg-status-subscription-card-success: rgb(20 141 98 / 10%);
    --exl-bg-status-subscription-card-warning: rgb(241 171 29 / 10%);
    --exl-text-status-subscription-card-warning: #DE9400;
}